<form action="#">
  <ul class="mdl-list">
    <li class="mdl-list__item">
      <div class="input-group">
        <label for="display_name">Name</label>
        <input type="text" id="display_name">
      </div>
    </li>
    <li class="mdl-list__item">
      <div class="input-group">
        <label for="manufacturer">Manufacturer</label>
        <input type="text" id="manufacturer">
      </div>
    </li>
    <li class="mdl-list__item">
      <div class="input-group">
        <label for="amount">Amount</label>
        <input type="number" value="1" min="1" max="999" id="amount">
      </div>
    </li>
    <li class="mdl-list__item">
      <button class="mdl-button mdl-button--raised mdl-button--colored" type="button">
        Add item
      </button>
    </li>
  </ul>
</form>
